a{
    display: inline-block;
    margin: 0 15px 0 30px;
    font-weight: 800;
    color: #F5C7A9;
}

a:visited{
    display: inline-block;
    margin: 0 15px 0 30px;
    font-weight: 800;
    color: #F5C7A9;
}

article{
    background-color: rgba(209, 81, 45, 0.8);
    border-radius: 25px;
    margin: 15px auto;
    padding: 10px 25px;
    width: fit-content;
}

body{
    background-color: rgba(65, 21, 48, 0.9);
    color: #F5C7A9;
    text-align: center;
    font-family: "consolas", monospace, sans-serif;
}

button{
    background-color: rgba(209, 81, 45, 0.8);
    border-radius: 15px;
    color: #F5C7A9;
    padding: 7px;
    margin: 5px;
}

canvas {
    display: block;
    background-color: transparent;
}

footer{
    background-color: rgba(209, 81, 45, 0.5);
    border-radius: 15px;
    position: absolute;
    padding: 25px 20px 5px 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

form{
    background-color: rgba(209, 81, 45, 0.8);
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    margin: auto;
}

h1{
    font-family: "Sacramento";
    font-size: 5rem;
}

h2{
    display: inline-block
}

h3{
    display: inline-block;
}

hr{
    border-style: dotted none none none;
    color: #F5E8E4;
    border-width: 5px;
    width: 5%;
    height: 0;
    margin: 25px auto;
}

img{
    border-radius: 25%;
    border: 5px solid transparent;
    margin: 75px auto 0 auto;
    opacity: 0.8;
}

img:hover{
    border: 5px #f5d9a9 solid;
    opacity: 1;
}

input{
    background-color: #F5E8E4;
    border-radius: 5px;
    color: rgba(209, 81, 45, 1);
}

li{
    margin: auto;
    width: fit-content;
}

ol{
    margin: auto;
}

nav{
    background-color: rgba(245, 199, 169, 0.9);
    border-radius: 10px;
    padding: 0 10px;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
}

nav > ul{
    text-align: center;
    padding: 0;
}

nav > ul> a> li{
    color: rgba(65, 21, 48, 0.9);
    display: inline-block;
    margin: 0 15px;
    font-weight: 800;
}

p{
    padding: 2% 5%;
    background-color: rgba(209, 81, 45, 0.7);
    border-radius: 25px 25px 25px 25px;
    margin: auto 10%;
}

table{
    border-collapse: collapse;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(209, 81, 45, 0.5);
}

td{
    border: #F5E8E4 1px solid;
    padding: 2px;
}

textarea{
    background-color: #F5E8E4;
    border-radius: 5px;
    color: rgba(209, 81, 45, 1);
}

th{
    border: #F5E8E4 1px solid;
    padding: 2px 5px;
}

/* classes */
.active{
    background-color: blue;
}

.authorList{
    padding: 0;
    background-color: rgba(65, 21, 48, 0.1);
    width: fit-content;
}

.authorList > li{
    display: inline-block;
    margin: 0 10px;
}

.border-none {
    border-collapse: collapse;
    border: none;
}

.border-none tr:first-child th {
border-top: none;
}

.border-none tr:last-child td {
border-bottom: none;
}

.border-none tr:last-child th {
    border-bottom: none;
}

.border-none tr td:first-child {
border-left: none;
}

.border-none tr th:first-child {
    border-left: none;
}

.border-none tr td:last-child {
border-right: none;
}

.border-none tr th:last-child {
    border-right: none;
}

.border-none tr th:last-child {
    border-right: none;
}

.page{
    background-color: rgba(255,255,255, 1);
    color: rgba(0,60,125, 1);
    height: 3508px;
    padding: 50px;
    width: 2480px;
    margin: 50px;
    box-shadow: 5px 5px;
}

.titlePage{
    background-color: rgba(0,60,125, 1);
    border-radius: 10px 25px 25px 10px;
    box-shadow: 20px 10px;
    color: rgba(255,255,255, 1);
    height: 3508px;
    padding: 50px;
    width: 2480px;
}

.titlePage > h1{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10rem;
}

.titlePage > h2{
    display: block;
    font-size: 6rem;
}

.titlePage > h3{
    display: block;
    font-size: 5rem;
}

.titlePage > img{
    min-width: 600px;
    min-height: 800px;
    max-width: 2500px;
    max-height: 2800px;
    width: 1500px;
    height: auto;
}

/* ids */
#article{
    background-color: rgba(245, 217, 169, 0.9);    
    border-radius: 45px;
    color: rgba(65, 21, 48, 0.9);
    padding: 15px;
    margin: 25px;
    box-shadow: 15px 20px rgba(65, 21, 48, 0.2);
}

#table_toDo {
    border-radius: 10px;
    border: none;
}

#table_toDo > tbody > tr > td{
    text-align: left;
    vertical-align: top;
    margin: 0;
}

#table_toDo > tbody > tr > td > details{
    margin: 0 0 10px 0;
}

#table_toDo > tbody > tr > td > details> ul{
    background-color: rgba(65, 21, 48, 0.5);
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding:0;
    text-align: left;
}

#table_toDo > tbody > tr > td > details > summary{
    background-color: rgba(65, 21, 48, 0.3);
}

#table_toDo > tbody > tr > td > details > ul > li{
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
    font-size: 0.8rem;
}

